language: python
sudo: false
cache: pip
python:
- '3.6'
fail_fast: true
before_install:
    - pip install flake8
install: "pip install -r requirements.txt"
script:
    - flake8 infiniband-exporter.py 
