[Unit]
Description=Infiniband-exporter
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/infiniband-exporter.conf
ExecStart=/usr/bin/infiniband-exporter
PIDFile=/var/run/infiniband-exporter.pid
KillMode=process

[Install]
WantedBy=multi-user.target
